{% load static %}
<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</header>

<style>
    body {
    background: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #fffc00 100%);
  }
</style>
<body>
    <!-- <body style="background-image: url({% static 'api_threshold/apibg.jpg' %}); color:white; background-size: 100% 100%;"> -->
    <center>
        <h2>
            Add APi treshold values
        </h2>
        <a href="{% url 'device-details' pk %}" style="margin: 200px;">Back</a>
        <div class="container mt-5">
            <form class="form" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" class="bg-secondary" style="width: 200px;">
            </form>
        </div>
    </center>
    
</body>