<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .form-gap {
    padding-top: 70px;
}
</style>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
    <h2 class="text-center">Change password for device {{devise.name}}?</h2>
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Username "{{devise.devise_id}}"</h2>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post"> {%csrf_token %}
    
                      <div class="form-group">
                       
                        <div class="input-group" style="padding-top:10px">
                            <span class="input-group-addon"><i class="fa fa-lock color-blue"></i></span>
                            <input id="phone" name="password" placeholder="password" class="form-control"  type="password">
                          </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Save Password" type="submit">
                        <a href="{% url 'device-list' %}" class="btn btn-lg btn-primary btn-block" value="Back" type="submit">back</a>

                      </div>

                      <!-- <input type="hidden" class="hide" name="token" id="token" value="">  -->
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>