{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/animation.css' %}">
<!-- <link rel="stylesheet" href="{% static 'dashboard/css/buttons.css' %}"> -->
<!-- <script src="{% static 'dashboard/js/animation.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/buttons.js' %}"></script> -->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<body style=" background-size: 100% 100%;background-image: url({% static 'dashboard/bg1.jpeg' %});">
    <!-- <div class="square parallax-one"></div>
    <div class="circle"></div>
    <h1 class="text move-text parallax-two">Welcome</h1> -->
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand navbar-dark" style="background-color: #55779f;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">
                <h3 class="my-heading" style="font-size: 15px;">ArkaShine Innovations</h3>
            </a>
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'notifications' %}">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-devise' %}">Add device</a>
                    </li> -->
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
        </div>
    </nav>
  <!-- end navbar -->   
        <!-- <div style="margin-top:100px;float: left;width: 100%;">
            <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'device-list' %}">Devices</button>
            <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'map' %}">Map</button>
            <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'notifications' %}">Notifications</button>
            <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'add-devise' %}">Add device</button>
        </div> -->

        <!-- devise counts -->
        <div class="container" style="margin-top:100px;">

            <div class="card">
              <div class="face face1">
                <div class="content">
                  <span class="stars"></span>
                  <h2 class="java"><a href="{% url 'device-list' %}">Devices</h2>
                  <p class="java">Total devices currently in use : {{devise_counts}}.</p></a>
                </div>
              </div>
              <div class="face face2">
                <h4>Devices</h4>
              </div>
            </div>
          
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <span class="stars"></span>
                  <h2 class="python"><a href="{% url 'add-devise' %}">Add device</h2>
                  <p class="python">Click to add device.</p></a>
                </div>
              </div>
              <div class="face face2">
                <h4>Add device</h4>
              </div>
            </div>
          
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <span class="stars"></span>
                  <h2 class="java"><a href="{% url 'map' %}">Map</h2>
                  <p class="java">Click to check devices locations.</p></a>
                </div>
              </div>
              <div class="face face2">
                <h4>Map</h4>
              </div>
            </div>
          
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <span class="stars"></span>
                  <h2 class="cSharp"><a href="{% url 'notifications' %}"> Notifications</h2>
                  <p class="cSharp">Total notifications : {{notification_counts}}.</p></a>
                </div>
              </div>
              <div class="face face2">
                <h4>Notifications</h4>
              </div>
            </div>


              <div class="card">
                <div class="face face1">
                  <div class="content">
                    <span class="stars"></span>
                    <h2 class="cSharp"><a href="{% url 'dynamic_fields' %}">Dynamic fields</h2>
                    <p class="cSharp">Total fields : {{dynamic_fields}}.</p></a>
                  </div>
                </div>
                <div class="face face2">
                  <h4>Dynamic fields</h4>
                </div>
              </div>

              <div class="card">
                <div class="face face1">
                  <div class="content">
                    <span class="stars"></span>
                    <h2 class="cSharp">API calls</h2>
                    <p class="cSharp">Total API called till date : {{api_counts}}.</p>
                  </div>
                </div>
                <div class="face face2">
                  <h4>API calls</h4>
                </div>
            </div>
          </div>
        <!-- end devise counts -->

        <div class="row m-1">
            <div class="col d-flex justify-content-center">
                <form class="" style="width: 100%;"> 
                    <h4 style="color:white" >Select device to view the API call counts</h4>
                    <select class="form-control select2" name="pk" style="width: 33%; float: left;">
                        <option value="">Selct device</option>
                        {% for devise in devises %}
                            <option value="{{devise.pk}}">{{devise.name}}</option> 
                        {% endfor %}
                    </select>
                    <select class="form-control select2" name="year" style="width: 33%;float: left;">
                      <option value="">Select year</option>
                      {% for year in years %}
                          <option value="{{year}}">{{year}}</option> 
                      {% endfor %}
                  </select>
                  <select class="form-control select2" name="state" style="width: 33%;float: left;">
                    <option value="">Select state</option>
                    {% for state in states %}
                        <option value="{{state}}">{{state}}</option> 
                    {% endfor %}
                  </select>
                  <center>
                    <button class="btn btn-primary btn-sm btn-icon-text mt-1"  style="width: 300px;">Filter</button>
                  </center>
                </form>
            </div>
        </div>
    <!-- bar graph -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <center>
        <canvas class="" id="myChart" style="width:100%;max-width:700px;background-color: #ffffff7d;"></canvas>
    </center>

    <script>
        var xValues = [50,60,70,80,90,100,110,120,130,140,150];
        var yValues = [7,8,8,9,9,9,10,11,14,14,15];

        new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,0.1)",
            data: yValues
            }]
        },
        options: {
            legend: {display: false},
            scales: {
            yAxes: [{ticks: {min: 6, max:16}}],
            }
        }
        });
    </script> -->
    <!-- end bar graph -->


<script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,  
        
        title:{
            text:{% if devise_name %} "Api counts for {{devise_name}}" {% else %}"Please select devoice to get data" {% endif %}
        },
        axisY: {
            title: "API calls",
            // valueFormatString: "#0,,.",
            suffix: "",
            prefix: ""
        },
        data: [{
            // type: "line",
            type: "splineArea",
            color: "rgba(54,158,173,.7)",
            markerSize: 10,
            // xValueFormatString: "YYYY",
            // yValueFormatString: "$#,##0.##",
            dataPoints: [
                {% for data, count in chart_data %}
                    { x: new Date({{data}}), y: {{count}}, color:'red' },
                {% endfor %}
                // { x: new Date(2000, 1, 1), y: 3289000 },
                // { x: new Date(2001, 0), y: 3830000 },
                // { x: new Date(2002, 0), y: 2009000 },
                // { x: new Date(2003, 0), y: 2840000 },
                // { x: new Date(2004, 0), y: 2396000 },
                // { x: new Date(2005, 0), y: 1613000 },
                // { x: new Date(2006, 0), y: 2821000 },
                // { x: new Date(2007, 0), y: 2000000 },
                // { x: new Date(2008, 0), y: 1397000 },
                // { x: new Date(2009, 0), y: 2506000 },
                // { x: new Date(2010, 0), y: 2798000 },
                // { x: new Date(2011, 0), y: 3386000 },
                // { x: new Date(2012, 0), y: 6704000},
                // { x: new Date(2013, 0), y: 6026000 },
                // { x: new Date(2014, 0), y: 2394000 },
                // { x: new Date(2015, 0), y: 1872000 },
                // { x: new Date(2016, 0), y: 2140000 },
            ]
        }]
        });
    chart.render();
    
    }
    </script>
{% if devise_name %}
<div id="chartContainer" style="background-color: #ffffff7d;height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endif %}
</body>
