{% load static %}

<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="{% static 'devise/devise_details1.css' %}">
</header>

<style>
  body {
   background-size: 200% 100%;background-image: url({% static 'dashboard/bg2.jpg' %});
  }
 </style>
<!------ Include the above in your HEAD tag ---------->
 <!-- navbar -->
 <nav class="navbar fixed-top navbar-expand navbar-dark" style="background-color: #55779f;">
     <div class="container-fluid">
         <a class="navbar-brand" href="{% url 'dashboard' %}">
             <h3 class="my-heading" style="font-size: 15px;">ArkaShine Innovations</h3>
         </a>
             <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Logout</a>
                 </li>
             </ul>
     </div>
 </nav>
<!-- end navbar -->

<!-- success message -->
<section style="margin-top: 100px;">
  
      <div class="row mt-5 ml-1 mr-1">
        <div class="col-lg-4" >
          <div class="card mb-4" style="border-radius: 10%;background-color: #a97e7e94; color: white;">
            <div class="card-body text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{request.session.name}}</h5>
              <p class="=mb-1">{{request.session.phone}}</p>
              <p class="mb-4">{{request.session.email}}</p>
              <p  style="color: {{request.session.color}};">Device api usage ({{request.session.api_usage}})  </p>
              <p  style="color: {{request.session.color}};">Device api remaining ({{request.session.remaining}})  </p>
              
              <div class="d-flex justify-content-center mb-2">
                <!-- <button type="button" class="btn btn-outline-primary ms-1">Message</button> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4" style="border-radius: 5%;background-color: #a97e7e94; color: white;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address1</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.address1}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address2</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.address2}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">device_id</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.devise_id}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">serial_no</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.serial_no}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">chipset_no</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.chipset_no}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">purchase_date</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.purchase_date}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">time_of_sale</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.time_of_sale}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">warrenty</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.warrenty}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">land</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.land}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">amount_paid</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.amount_paid}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">balance_amount</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0">{{request.session.balance_amount}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Curent location</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0"><a href="{% url 'map-devise' request.session.pk %}">Device current location</a></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">API calls</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0"><a href="{% url 'api-list' request.session.pk %}">Device API calls</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>