{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static '/home/css/home1.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/home/css/popup.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/home/css/image_animation.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/home/css/image_animation1.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/home/css/images.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/home/css/patent.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/home/css/slideshow.css' %}" type="text/css">
<script src="{% static '/home/js/popup.js' %}"></script>    
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />


<header id="home">
        <div class="overlay"></div>
        <nav class="navbar fixed-top navbar-expand navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'dashboard' %}">
                    <h3 class="my-heading">ArkaShine Innovations</h3>
                </a>
                <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" onclick="console.log('fghjk')">
                    <span class="fa fa-bars mfa-white"></span>
                </button>    -->
                <!-- <div class="collapse navbar-collapse" id="navbarResponsive"> -->
                    <ul class="navbar-nav">
                         <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'logout' %}">Welcome, {{ user.get_username }} Logout</a>
                            {% else %}
                                <a class="nav-link" href="#login">Login</a>
                                <!-- <a class="nav-link" href="{% url 'login1' %}">Login</a> -->
                            {% endif %}
                            </a>
                        </li>
                    </ul>
                <!-- </div> -->
            </div>
        </nav>
        <div class="tophead" style="margin-top: 100px;">
            <!-- success message -->
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-success">
                <!-- <button type="button" class="close" data-dismiss="alert">
                ×
                </button> -->
                <strong>{{message}}</strong>
                </div>
            {% endfor %}
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <h1 class="title-main wow fadeInLeft" data-wow-duration="1.5s">ArkaShine Innovations</h1> -->
                        <h3 class="subtitle-main wow fadeInUp" data-wow-duration="1.1s">
                            Compact portable soil testing machines that are easy to carry, easy to operate, easy to refill and reuse, provide results on palm, requiring less skilled labor in providing timely soil test results as fertilizer and crop recommend to farmers through use of technology towards a greener footprint for climate change.
                        </h3>
						<div class="top-btn-block wow fadeInUp data-wow-duration=2.5s">
							<!-- <a href="javascript:void(0)" class="btn-explore ">View details</a> -->
							<!-- <a href="javascript:void(0)" class="btn-account ">Button</a> -->
						</div>
                    </div>
                    
                    <div class="col-md-4">
                        <center>
                            <ul id="ul" style="margin-top: -65px;">
                                <li id="li"><a href="#ai_popup"><img title="Complete automation" id="img" src="{% static '/home/images/automation.jpg' %}"/></a></li>
                                <li id="li"><a href="#ai_popup1"><img title="complete automation" id="img" src="{% static '/home/images/integration.PNG' %}"/></a></li>
                                <li id="li"><a href="#soil_popup"><img title="Soil on chip technology" id="img" src="{% static '/home/images/soilonchip.PNG' %}"/></a></li>
                                <li id="li"><a href="#soil_popup1"><img title="Soil on chip technology" id="img" src="{% static '/home/images/tracking.PNG' %}"/></a></li>
                                <li id="li"><a href="#map_popup"><img title="Mapped recommendation unit" id="img" src="{% static '/home/images/map.PNG' %}"/></a></li>
                                <li id="li"><a href="#ml_popup"><img title="AI and ML" id="img" src="{% static '/home/images/AIML.PNG' %}"/></a></li>
                            </ul>
                        </center>
                        <!-- <div style="position: relative;">
                            ProSOIL 
                        </div> -->
                    </div>
                </div>
            </div>
                        
 <!-- ai details  popup -->
 <div id="ai_popup" class="overlay1">
    <div class="popup" id="feature-css" style="width:500px;height:250px">
        <!-- <div class="popup" id="feature-css" style="background-image: url({% static '/home/images/automation.jpg' %});"> -->
        <center>
            <h2 style="color: #4b2711;">complete automation</h2>
            <hr>
            <a class="close" href="#">&times;</a>
            <h4 class="content">
                A 100 % automation in steps of soil preparation ready to go for testing under the sensory platform. One Of its first soil sampler unit that automates and saves time of test.
            </h4>
        </center>
    </div>
</div>   
<!-- end ai details  popup  -->

 <!-- ai ai_popup1 -->
 <div id="ai_popup1" class="overlay1">
    <div class="popup" id="feature-css" style="width:500px;height:250px">
        <!-- <div class="popup" id="feature-css" style="background-image: url({% static '/home/images/integration.PNG' %});"> -->
        <center>
            <h2 style="color: #4b2711;">Integration of technologies</h2>
            <hr>
            <a class="close" href="#">&times;</a>
            <h4 class="content">
                Integration of software and hardware modules to enhance the customer experience in decision making of agri inputs
            </h4>
        </center>
    </div>
</div>   
<!-- end ai_popup1  -->

<!-- login popup -->
<div id="login" class="overlay1">
    <div class="popup" id="feature-css" style="width:500px;height:200px">
        <!-- <div class="popup" id="feature-css" style="background-image: url({% static '/home/images/integration.PNG' %});"> -->
        <center>
            <h2 style="color: #4b2711;">Select login</h2>
            <hr>
            <a class="close" href="#">&times;</a>
            <!-- <h4 class="content"> -->
                <a class="btn btn-success" href="{% url 'login1' %}">Login as admin</a>
                <!-- <br> -->
                <a class="btn btn-success" href="{% url 'login2' %}">Login as user</a>
            <!-- </h4> -->
        </center>
    </div>
</div>   
<!-- end login popup  -->

 <!-- soil_popup -->
 <div id="soil_popup" class="overlay1">
    <div class="popup" id="feature-css" style="width:500px;height:250px">
    <!-- <div class="popup" id="feature-css" style="background-image: url({% static '/home/images/soilonchip.PNG' %});"> -->
        <center>
            <h2 style="color: #4b2711;">complete automation</h2>
            <hr>
            <a class="close" href="#">&times;</a>
            <h4 class="content">
                Through our research we came up with innovative reusable chipset for sensing  nutrients.
            </h4>
        </center>
    </div>
</div>   
<!-- end soil_popup  -->

 <!-- soil_popup1 -->
 <div id="soil_popup1" class="overlay1">
    <div class="popup" id="feature-css" style="width:500px;height:250px">
    <!-- <div class="popup" id="feature-css" style="background-image: url({% static '/home/images/tracking.PNG' %});"> -->
        <center>
            <h2 style="color: #4b2711;">Location tracking</h2>
            <hr>
            <a class="close" href="#">&times;</a>
            <h4 class="content">
                Live tracking of samples collected and serviced for a long term geographical study.
            </h4>
        </center>
    </div>
</div>   
<!-- end soil_popup1  -->

 <!-- map_popup -->
 <div id="map_popup" class="overlay1">
    <div class="popup" id="feature-css" style="width:500px;height:250px">
    <!-- <div class="popup" id="feature-css" style="background-image: url({% static '/home/images/map.PNG' %});"> -->
        <center>
            <h2 style="color: #4b2711;">A Mapped Recommendation Unit</h2>
            <hr>
            <a class="close" href="#">&times;</a>
            <h4 class="content">
                Providing output as printed  results through interpretation of results using mapped recommendation unit 
            </h4>
        </center>
    </div>
</div>   
<!-- end map_popup  -->

 <!-- ml_popup -->
 <div id="ml_popup" class="overlay1">
    <div class="popup" id="feature-css" style="width:500px;height:300px">
    <!-- <div class="popup" id="feature-css" style="background-image: url({% static '/home/images/AIML.PNG' %});"> -->
        <center>
            <h2 style="color: #4b2711;">AI and ML based prediction models for fertilizer and crop recommendations</h2>
            <hr>
            <a class="close" href="#">&times;</a>
            <h4 class="content">
                Usage of advanced technologies for accurately predicting recommendations for agri inputs.
            </h4>
        </center>
    </div>
</div>   
<!-- end ml_popup  -->


        <div class="sesgoabajo"></div>
    </header>

    <main>
        <section class="overview-wrap" id="overview">
            <div class="container">
                <div class="contenedor">
                    <h2 class="title-overview wow fadeInUp" style="color: #4b2711;">Overview</h2>
                    <p class="subtitle-overview wow fadeInUp">
                        ProSOIL is a novel microfluidic and Machine Learning based Soil On Chip portable onsite testing device that provides printed results of fertilizer and crop recommendation within 20 minutes. A complete automation in the steps of sample preparation providing a common sample preparation for all tests , Sensory testing system nutrients, pH, electrical conductivity and mapped recommendation
                        unit geotagging of data and AI & ML based algorithms for crop recommendation . The USP of the device is SOIL IN RESULTS OUT. This palmtop sensory system provides onsite decision making on farm with assessment of soil parameters at finger tips, acts fast with zero manual intervention
                        <br>
                        Features: 
                        <br>
                        <span style="font-weight: bold;">
                            Complete Automation, 
                            Soil On Chip Technology, 
                            A Mapped Recommendation Unit, 
                            AI and ML based prediction models for fertilizer and crop recommendations.
                        </span>
                    </p>

                    <!-- images -->

                    <!-- <div class="photo-album mb-5 wow bounceInUp">
		
                        
                        <a href="" class="large polaroid img1"><img src="{% static '/home/images/img1.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="polaroid img2"><img src="{% static '/home/images/img2.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="small polaroid img3"><img src="{% static '/home/images/img3.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        
                        <a href="" class="medium polaroid img4"><img src="{% static '/home/images/img4.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        
                        <a href="" class="polaroid img5"><img src="{% static '/home/images/img5.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        
                        
                        <a href="" class="polaroid img6"><img src="{% static '/home/images/img6.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        
                        <a href="" class="polaroid img7"><img src="{% static '/home/images/img1.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="small polaroid img8"><img src="{% static '/home/images/img2.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="medium polaroid img9"><img src="{% static '/home/images/img3.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="polaroid img10"><img src="{% static '/home/images/img4.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="small polaroid img11"><img src="{% static '/home/images/img5.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="small polaroid img12"><img src="{% static '/home/images/img6.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="small polaroid img13"><img src="{% static '/home/images/img1.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="small polaroid img14"><img src="{% static '/home/images/img2.PNG' %}" alt="" style="width: 100%;">Our product</a>
                        <a href="" class="polaroid img15"><img src="{% static '/home/images/img3.PNG' %}" alt="" style="width: 100%;">Our product</a>
                    </div> -->
                    <!-- end images -->

                     <!-- slideshow -->

    <!-- Fork me on GitHub ribbon -->
<!-- <a href="https://github.com/Elitewares/CSS3-Slider" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0;z-index:99;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a> -->

                </div>
            </div>
        </section>


        <!-- VIDEOS -->
        <!-- <div class="row" style="    height: 760px;"> -->
            <!-- <div class="col-md-12 col-lg-12 col-xs-12 wow bounceInUp" data-wow-duration="1.4s">
                <video autoplay muted loop id="myVideo" style=" float: left;width:100%;height: 750px;" class="rounded">
                    <source src="{%  static '/home/video1.mp4'%}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>  -->
            <!-- <div class="col-md-5 col-lg-5 col-xs-5 wow bounceInUp" data-wow-duration="1.4s"> -->
                <!-- <div style="position: relative; margin: 50px;color: white;top:-200;"> -->
                    <!-- <h5 class="title-overview wow fadeInUp" style="color:   white;">explanation of product</h5> -->
                <!-- <p style="margin: 0px 238px;">Let's bring the life of soil back with ProSOIL and its accessories testing physical, chemical and biological aspects.</p> -->
                <!-- </div> -->
            <!-- </div>  -->
            <!-- <script>
                var video = document.getElementById("myVideo");
                var btn = document.getElementById("myBtn");
                
                function myFunction() {
                  if (video.paused) {
                    video.play();
                    btn.innerHTML = "Pause";
                  } else {
                    video.pause();
                    btn.innerHTML = "Play";
                  }
                }
                </script> -->
        <!-- </div> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-md-5 col-lg-5 col-xs-5 wow bounceInUp" data-wow-duration="1.4s">
                <h5 class="title-overview wow fadeInUp" style="color: #4b2711;">product description</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero magni eveniet cum, debitis assumenda quos consequatur sit ducimus, maiores esse tenetur saepe voluptatem dolorem adipisci voluptatum odit! Laudantium, accusantium beatae!</p>
            </div>  -->
            <!-- <div class="col-md-12 col-lg-12 col-xs-12 wow bounceInUp " data-wow-duration="1.4s" >
                <video autoplay muted loop id="myVideo" style=" float: left;width:100%;height: 400px;" class="rounded"-5>
                    <source src="{%  static '/home/video5.mp4'%}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div> 
        </div> -->
        <!-- END VIDEOS -->

<!-- images -->
    <div class="container_images  wow bounceInUp">
        <!-- <div style="width: 15%;height:250px"><img class="img_images" src="{% static '/home/images/img1.PNG' %}" alt="" style="height:250px" ></div>
        <div style="width: 15%;height:250px"><img class="img_images" src="{% static '/home/images/img1.PNG' %}" alt="" style="height:250px" ></div>
        <div style="width: 15%;height:250px"><img class="img_images" src="{% static '/home/images/img1.PNG' %}" alt="" style="height:250px" ></div>
        <div style="width: 15%;height:250px"><img class="img_images" src="{% static '/home/images/img1.PNG' %}" alt="" style="height:250px" ></div>
        <div style="width: 15%;height:250px"><img class="img_images" src="{% static '/home/images/img1.PNG' %}" alt="" style="height:250px" ></div>
        <div style="width: 15%;height:250px"><img class="img_images" src="{% static '/home/images/img1.PNG' %}" alt="" style="height:250px" ></div> -->
      
      <img class="img_images" src="{% static '/home/images/img1.PNG' %}" alt="">
      <img class="img_images" src="{% static '/home/images/img2.PNG' %}" alt="">
      <img class="img_images" src="{% static '/home/images/img3.PNG' %}" alt="">
      <img class="img_images" src="{% static '/home/images/img4.PNG' %}" alt="">
      <img class="img_images" src="{% static '/home/images/img5.PNG' %}" alt="">
      <img class="img_images" src="{% static '/home/images/img6.PNG' %}" alt="">
      <!-- <img class="img_images" src="{% static '/home/images/img5.PNG' %}" alt="">
      <img class="img_images" src="{% static '/home/images/img6.PNG' %}" alt=""> -->
    </div>
<!-- end images -->
        
        <!-- partners -->

        <section class="overview-wrap mt-2" style="float: left;margin-bottom: 100px;">
            <h2 class="title-overview wow fadeInUp" style="color: #4b2711;">Our Partners</h2>
            <div class="row">
                    <div class="col-md-6 col-lg-3 col-xs-3 col-xs-3 wow bounceInUp"><img class="wow bounceInUp" src="{% static 'dashboard/p1.PNG' %}"></div>
                    <div class="col-md-6 col-lg-3 col-xs-3 col-xs-3 wow bounceInUp"><img class="wow bounceInUp" src="{% static 'dashboard/p2.PNG' %}"></div>
                    <div class="col-md-6 col-lg-3 col-xs-3 col-xs-3 wow bounceInUp"><img class="wow bounceInUp" src="{% static 'dashboard/p3.PNG' %}"></div>
                    <div class="col-md-6 col-lg-3 col-xs-3 col-xs-3 wow bounceInUp"><img class="wow bounceInUp" src="{% static 'dashboard/p4.PNG' %}"></div>
            </div>
        </section>

        
        <!-- <section class="galeria">
            <div class="sesgoarriba"></div>
            <div class="imagenes">
                <img src="https://images.pexels.com/photos/938965/pexels-photo-938965.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="" class="img-fluid">
				 <div class="enmica">
                    <h2>All technologies used in project</h2>
                    <div></div>
                </div>
            </div>
            <div class="sesgoabajo"></div>
        </section> -->

        <!-- <section class="cta contact-wrap" id="contact">

            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto  wow zoomIn">
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-4">
    							<span class="section-heading-upper" style="color: #4b2711;">Get in Touch With Us</span>
                             </h2>
                            <div class="contactForm">
                                <div style="color: red">
                                    {{errors}}
                                </div>
                                <form  method="POST"> {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="mail" class="form-control" placeholder="Email" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control" placeholder="phone" required="required">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="4" cols="50" placeholder="Message" name="message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" name="submit" value="Send" class="btn-login">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section> -->

        <!-- <div class="row wow bounceInUp"> -->
            <!-- <div class=" wow bounceInUp" data-wow-duration="1.4s" >
                <video autoplay muted loop id="myVideo" style="height:370px; width:100%;" class="rounded"-5>
                    <source src="{%  static '/home/video3.mp4'%}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div> -->
            <!-- <div class="col-md-3 col-lg-3 col-xs-3 wow bounceInUp" data-wow-duration="1.4s" >
                <video autoplay muted loop id="myVideo" style="height:370px; width:100%;" class="rounded"-5>
                    <source src="{%  static '/home/video2.mp4'%}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div> -->
        <!-- </div> -->
    </main>

  
    
    <!-- <footer class="footer" style="background-color: #04BF00; ">
        <div class="container">
            <div class="row">               
                <div class="col-lg-12 text-center  my-auto " style=" font-size: large;">                   
                    <p class="" style="font-weight: bold">Contact details</p>
                    <p>Address : H. NO.9.1 2-226, 11th Cross,
                        Bhawani Rice Mill Road,
                        Vidyanagar colony,
                        Bidar, Karnataka,
                        lndia, 585403
                        <br>
                        Phone: +91-9611297893
                        <br>
                        Email: karbari.rsudha@gmail.com
                        <br>
                        sudha.karbari@arkashine-innovations.com
                        <br>
                        ramesh.karbari@arkashine-innovations.com
                    </p>
                </div>                
            </div>
        </div>
    </footer> -->

    <footer class="footer" style="float: left;" id = "foot">
        <!-- <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div> -->
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" target="_blank" href="https://www.facebook.com/profile.php?id=100086596411403">
              <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" target="_blank" href="https://twitter.com/ArkaShineInn?t=t-d7MVaogl29h_7G2xHz9Q&s=08">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" target="_blank" href="https://www.linkedin.com/company/89707450/admin/?trk=eml-company_page_created-body-view_cp_button&midToken=AQEyFtuesbYTzA&midSig=2C3DWbbHXfHWs1&trkEmail=eml-email_company_page_created_01-null-0-null-null-3bxup6%7El9cnuexr%7Evu-null-neptune%2Fcompany%2Eadmin">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" target="_blank" href="http://instagram.com/arkashineinnovations">
              <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">

            <!-- address -->
            <div id="popup1" class="overlay1">
                <div class="popup">
                    <center>
                        <h2 style="color: #4b2711;">Address</h2>
                        <hr>
                        <a class="close" href="#foot">&times;</a>
                        <div class="content">
                            Address : H. NO.9.1 2-226, 11th Cross,
                            Bhawani Rice Mill Road,
                            Vidyanagar colony,
                            Bidar, Karnataka,
                            lndia, 585403
                        </div>
                    </center>
                </div>
            </div>   
            <!-- end address  -->
            <!-- contact details -->
            <div id="popup2" class="overlay1">
                <div class="popup">
                    <center>
                        <h2 style="color: #4b2711;">Contact details</h2>
                        <hr>
                        <a class="close" href="#foot">&times;</a>
                        <div class="content">
                            <b>Phone: </b> +91 9611297893
                            <br>
                            <b>Email ids: </b> <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=karbari.rsudha@gmail.com" target="_blank">karbari.rsudha@gmail.com</a>, 
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sudha.karbari@arkashine-innovations.com" target="_blank"> sudha.karbari@arkashine-innovations.com</a>, 
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ramesh.karbari@arkashine-innovations.com" target="_blank"> ramesh.karbari@arkashine-innovations.com</a>
                            <table>
                                <tr>
                                    <td><b></b></td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td><b></b></td>
                                    <td> <br>
                                           
                                        <br>
                                        
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </center>
                </div>
            </div> 
            <!-- end contact details -->
            <!-- Paitentsw -->'
            <div id="paitents" class="overlay1" style="overflow-y: auto;">
                <div class="popup" style="width: 700px;overflow-y: auto;">
                        <h2 style="color: #4b2711;">Product Patents</h2>
                        <hr>
                        <a class="close" href="#foot">&times;</a>
                        <div class="content">
                            <!-- 1. 202141028625: APPARATUS AND METHOD FOR SOIL TESTING (Granted-387972)(Design of microfluidic chip without the mechanism of electrodes for detection along with GPS geotagging of samples tested)
                            <br>
                            2. 202142041007:APPARATUS AND METHOD FOR SOIL TESTING (Published and under examination)(Design of Soil Sampler Unit and the inventive steps of tests from raw soil to test results)
                            <br>
                            3. 202141038183 : RECOMMENDATION AND SYSTEM(Identification of parameters & framework for ML algorithm for a complete analysis and provision of results to end user)
                            <br>
                            4. 202141032351- A SYSTEM AND METHOD FOR DETECTING ADULTERATION IN ANY FOOD ITEM
                            <br>
                            5. 202141044570-A NANO-EMULSION BASED BIOPESTICIDE FORMULATION AND A METHOD FOR PREPARATION THEREOF
                            <br>
                            6. 202141044532-NANOFIBER BASED PHEROMONES AND A METHOD FOR PREPARATION THEREOF
                            <br>
                            7. 202241011922:SYSTEM FOR ANALYSING PERISHABLE ITEM
                            <br>
                            8.  202341001891: APPARATUS AND METHOD FOR OPTICAL ANALYSIS
                            <br>
                            9. 202341001892: APPARATUS FOR ELECTRICAL ANALYSIS
                            <br>
                            Design:
                            346415-001: FOOD ADULTERATION TESTING DEVICE -->

                            <div class="main" >
                                <ol class="gradient-list">
                                  <li title="(Design of microfluidic chip without the mechanism of electrodes for detection along with GPS geotagging of samples tested)">202141028625: APPARATUS AND METHOD FOR SOIL TESTING (Granted-387972)</li>
                                  <li title="(Published and under examination)(Design of Soil Sampler Unit and the inventive steps of tests from raw soil to test results)">202142041007:APPARATUS AND METHOD FOR SOIL TESTING</li>
                                  <li title="(Identification of parameters & framework for ML algorithm for a complete analysis and provision of results to end user)">202141038183 : RECOMMENDATION AND SYSTEM</li>
                                  <li>202141032351- A SYSTEM AND METHOD FOR DETECTING ADULTERATION IN ANY FOOD ITEM</li>
                                  <li>202141044570-A NANO-EMULSION BASED BIOPESTICIDE FORMULATION AND A METHOD FOR PREPARATION THEREOF</li>
                                  <li>202141044532-NANOFIBER BASED PHEROMONES AND A METHOD FOR PREPARATION THEREOF</li>
                                  <li>202241011922:SYSTEM FOR ANALYSING PERISHABLE ITEM</li>
                                  <li>202341001891: APPARATUS AND METHOD FOR OPTICAL ANALYSIS</li>
                                  <li>202341001892: APPARATUS FOR ELECTRICAL ANALYSIS</li>
                                  
                                  
                                </ol>
                              </div>
                        </div>
                </div>
            </div> 
            <!-- end paitents -->
            <!-- Get in touh with us -->
            <div id="get_in_touch" class="overlay1">
                <div class="popup" style="width: 60%; max-height: 55%;overflow: auto;">
                    <center>
                        <h2 style="color: #4b2711;">Get in touch with us</h2>
                        <hr>
                        <a class="close" href="#foot">&times;</a>
                        <div class="content">
                            <div class="cta-inner text-center rounded">     
                                <div class="contactForm">
                                    <div style="color: red">
                                        {{errors}}
                                    </div>
                                    <form  method="POST"> {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control m-0" placeholder="Name" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="mail" class="form-control m-0" placeholder="Email" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="phone" class="form-control m-0" placeholder="phone" required="required">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control m-0" rows="4" cols="50" placeholder="Message" name="message"></textarea>
                                        </div>
                                        <div class="form-group" style="height: 10%;">
                                            <div class="col-md-12">
                                                <input type="submit" name="submit" value="Send" class="btn-login">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>  
                    </center>
                </div>
            </div> 
            <!-- end get in touch with us -->
          <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#get_in_touch">Help</a></li>
          <li class="menu__item"><a class="menu__link" href="#paitents">Patents</a></li>
          <li class="menu__item"><a class="menu__link" href="#popup2">Contact details</a></li>
          <li class="menu__item"><a class="menu__link" href="#popup1">Address</a></li>
        </ul>
        <p>&copy;Krish | All Rights Reserved</p>
      </footer>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
            <script>
              new WOW().init();
              </script>
    <script>
      
        $(window).on("scroll", function() {
            if ($(this).scrollTop() > 10) {
                $("nav.navbar").addClass("mybg-dark");
                $("nav.navbar").addClass("navbar-shrink");

            } else {
                $("nav.navbar").removeClass("mybg-dark");
                $("nav.navbar").removeClass("navbar-shrink");
            }

        });

        
    </script>