{% load static %}
<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="{% static '\login.css' %}">
</header>

<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
    <div class="container">
    <div class="row">
        <div class="col-md-4 login-sec">
            <h2 class="text-center">Login Now</h2>
            <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Username</label>
    <input type="text" class="form-control" placeholder="">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" class="form-control" placeholder="">
</div>


<div class="form-check">
<label class="form-check-label">
  <!-- <input type="checkbox" class="form-check-input"> -->
  <a href="#">Forgot password</a>
</label>
<button type="submit" class="btn btn-login float-right">Login</button>
</div>

</form>
<div class="copy-text"><i class="fa fa-heart"></i> Welcome to agriculture project</div>
    </div>
    <div class="col-md-8 banner-sec">
<div class="carousel-item active">
  <img class="d-block img-fluid" src="{% static '/login/images/login.jpg' %}" alt="First slide" style="height: 100%">
  <div class="carousel-caption d-none d-md-block">
    <div class="">
        <h2>This is Heaven</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>	
  </div>
</div>
</div>
</div>
</div>
</section>