{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'notifications/notifications.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
 <style>
  body {
        background-size: 100% 100%;background-image: url({% static 'dashboard/bg1.jpeg' %});
        color:white;
    /* background: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #fffc00 100%); */
  }
 </style>

<body>
    <!-- navbar -->
<nav class="navbar fixed-top navbar-expand navbar-dark" style="background-color: #55779f;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <h3 class="my-heading" style="font-size: 15px;">ArkaShine Innovations</h3>
        </a>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
    </div>
  </nav>
  <!-- end navbar -->
    <div class="container" style="margin-top: 100px;">
        <div class="title">
          <h3>Notifications</h3>
        </div>
    </div>
    {% for active_notif in notification_active  %}
        <div class="alert alert-info mx-5">
            <div class="container">
                <div class="alert-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <form action="" method="POST">{% csrf_token %}</form>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
                    <a href="{% url 'notifications' active_notif.pk %}" title="Click to make it unread">
                        <span aria-hidden="true"><i class="material-icons" style="float: right;">clear</i></span>
                    </a>
                <!-- </button> -->

                <b>{{ active_notif.name }}:</b> <b>{{ active_notif.phone }} </b> --> <b>{{ active_notif.mail }} :</b>  {{ active_notif.message }}

            </div>
        </div>
    {% endfor %}
    
    {% for inactive_notif in notification_inactive  %}
        <div class="alert alert-success  mx-5">
            <div class="container">
                <div class="alert-icon">
                    <i class="material-icons">check</i>
                </div>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><a href="#"><i class="material-icons">clear</i></a></span>
                </button> -->
                <b>{{ inactive_notif.name }}:</b> <b>{{ inactive_notif.phone }} </b> --> <b>{{ inactive_notif.mail }} :</b>  {{ inactive_notif.message }}
            </div>
        </div>
    {% endfor %}

    <!-- <div class="alert alert-warning">
         <div class="container">
             <div class="alert-icon">
                <i class="material-icons">warning</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
             <b>Warning Alert:</b> Hey, it looks like you still have the "copyright ©  2015" in your footer. Please update it!
        </div>
    </div> -->
    <!-- <div class="alert alert-danger">
         <div class="container">
             <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
             <b>Error Alert:</b> Damn man! You screwed up the server this time. You should find a good excuse for your Boss...
        </div>
    </div> -->
    <!-- <div class="alert alert-primary">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">update</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Primary Alert:</b> Good evening! You should upgrade your data today.
        </div>
    </div> -->
    
    <!-- <footer class="footer text-center ">
        <p>Made with <a href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">Material Kit</a> by Creative Tim</p>
    </footer> -->
    
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

</body>