{% load static %}

<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="{% static 'devise/devise_details1.css' %}">
</header>


<!------ Include the above in your HEAD tag ---------->
 <!-- navbar -->
 <h4 class="bg-success" style="width: 100%;">{{message}}</h4>
 <nav class="navbar fixed-top navbar-expand navbar-dark" style="background-color: #55779f;">
     <div class="container-fluid">
         <a class="navbar-brand" href="{% url 'dashboard' %}">
             <h3 class="my-heading" style="font-size: 15px;">ArkaShine Innovations</h3>
         </a>
             <ul class="navbar-nav ml-auto">
                 <!-- <li class="nav-item">
                     <a class="nav-link" href="{% url 'notifications' %}">Notifications</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'add-devise' %}">Add device</a>
                 </li> -->
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                 </li>
             </ul>
     </div>
 </nav>
<!-- end navbar -->

<form method="post" class="" style="margin-top: 100px;"> 
  {% csrf_token %} 
  {{ form.as_p }} 
  <input type="submit" value="Save"> 
</form> 